body {
	background-color: rgb(0, 15, 28); /*#021b33;*/
	color: rgb(75, 255, 100);
	min-height: 600vh;
}

h1, p {
	color: rgb(75, 255, 100);
}

.logo {
	font-family: Courier, monospace;
	font-size: 30px;
	color: rgb(75, 255, 100);
	text-decoration: none;
	margin: 30px;	
}

.navbar{
        display: flex;
	width: 100%;
	background-color: rgb(0, 15, 28);
	position: fixed;
	top: 0;
}

.navbar.is-visible {
	visibility: visible;
}

.navbar.is-hidden {
	visibility: hidden;
}

.navbar-menu {
	margin-left: auto;
	margin-top: 30px;
	margin-right: 30px;
	display: flex;
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
	font-size: 15px;
}

.navbar-menu li {
	list-style: none;
	margin-left: 30px;
}

.navbar-menu li a {
	color: rgb(75, 255, 100);
	text-decoration: none;
	transition: color 0.5s;
}


.navbar-menu li a:hover {
        color: rgb(255, 255, 255);
}

.base-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
}

.sections{
	min-height: 100vh;
	width: 80em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

.sections div {
	display: flex;
	align-items: center;
}

.sections .text {
	width: 50%;
	margin-right: 40px;
	display: block;
}

.sections div img{
	border: 2px solid rgb(75, 255, 100);
}

.sections h1 {
	font-family: Courier, monospace;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}

#welcome p {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
	font-size: 30px;
	font-weight: normal;
}

.type {
	color: #0000;
	background:
		linear-gradient(-90deg,  rgb(75, 255, 100) 0.7em,  #0000 0) 0.7em 0, /*5px e 10px*/
		linear-gradient(rgb(75, 255, 100) 0 0) 0 0;
	background-size: 0 200%;
	-webkit-background-clip:padding-box,text;
	background-clip:padding-box,text;
	background-repeat:no-repeat;
}

.normal {
	animation:
                b .7s infinite steps(1),
                t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

.fast {
	animation:
                b .7s 1.5s infinite steps(1),
                t 8s 1.5s steps(calc(var(--n)/5)) forwards;
}

@keyframes t{
	from {background-size:0 200%}
	to {background-size: calc(var(--n)*1ch) 200%;}
}

@keyframes b{
	50% {background-position:0 -100%,0 0}
}

.sections h2 {
	color:#fba922;
}

.sections h3 {
	color: #3971ed;
}

.sections p {
	color: #c5c8c6;
}

.sections ul {
	list-style: none;
}

.sections li {
	color: #c5c8c6;
}

.sections li::before{
	content: "#";
	color: rgb(75, 255, 100);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

#skills-categories {
	display: grid;
	grid-template-columns: 27% 27% 27%;
	grid-template-rows: 300px 300px 300px;
	column-gap: 6%;
	align-items: start;
}

.sections .skills-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}


.sections .skill-container {
	height: 300px;
	align-items: start;
}

.skill-container .skill-img{
        height: 80px;
	border: none;
	margin-right: 30px;
	margin-top: auto;
	margin-bottom: auto;
}


.project-list {
	display: grid;
	grid-template-columns: 27% 27% 27%;
	grid-template-rows: 300px;
	column-gap: 6%;
}

.project-section-title {
	margin-top: 50px;
	margin-bottom: 50px;
}

.project {
	background-color: #000a12;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: width .5s;
	z-index: 0;
	border-radius: 7px;
	border: solid 1px rgb(75, 255, 100);
	box-shadow: 10px 10px 20px black;
}

.project-ico {
	height: 50px;
	padding-top: 30px;
}

.project-title, .project-status {
	margin-left: 20px;
	margin-right: 20px;
}

.project-title {
	padding-top: 10px;
	text-align: center;
}

.project:hover {
	width: 115%;
	height: 600px;
	z-index: 10;
	position: relative;
}

.project-desc {
	visibility: hidden;
	overflow: hidden;
}

.project-desc-container{
	margin-left: 20px;
	margin-right: 20px;
}

.project:hover .project-desc {
	visibility: visible;
	color: #0000;
	background:
                linear-gradient(-90deg, #c5c8c6 0.7em,  #0000 0) 0.7em 0,
                linear-gradient(#c5c8c6 0 0) 0 0;
        background-size: 0 200%;
        -webkit-background-clip:padding-box,text;
        background-repeat:no-repeat;
	animation:
                b .7s infinite steps(1),
                t 3s steps(calc(var(--n))) forwards;
}

.project ul, .project li {
	visibility: hidden;
}

.project li::before {
	visibility: visible;
        overflow: visible;
	color: #0000;
	background:
                linear-gradient(-90deg, rgb(75, 255, 100) 0.7em,  #0000 0) 0.7em 0,
                linear-gradient(rgb(75, 255, 100) 0 0) 0 0;
        background-size: 0 200%;
        background-clip:padding-box,text;
}

.project:hover li span {
	visibility: visible;
	color:#0000;
 	background:
		linear-gradient(#c5c8c6 0 0) 0 50%/150% 95%,
		linear-gradient(#c5c8c6 0 0) 0 0  /100% 100%;
	-webkit-background-clip:padding-box,text;
	background-clip:padding-box,text;
	background-repeat:no-repeat;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	animation: 
		a 0.8s forwards,
		z 0.8s .6s forwards;
}

.project:hover li::before {
        color:#0000;
        background:
                linear-gradient(rgb(75, 255, 100) 0 0) 0 50%/150% 95%,
                linear-gradient(rgb(75, 255, 100) 0 0) 0 0  /100% 100%;
        -webkit-background-clip:padding-box,text;
        background-clip:padding-box,text;
        background-repeat:no-repeat;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        animation:
                a 0.4s forwards,
                z 0.4s .3s forwards;
}

@keyframes a {
	from { background-size: 0 95%, 0 100% }
}

@keyframes z {
	100% { background-position: -200% 50%, 0 0 }
}
